<div class="jumbotron text-center" id="rebike">
	<p>{{ message }}</p>
	<section>
		<div class="container">
			<div class="card">
				<div class="row">
					<div class="col-md-6">
						<div class="card-block">
							<h4 class="card-title">Charity that provides bikes to everyone.</h4>
							<p class="card-text">We want to recycle old unwanted bikes and donate them to those who may not have access to one! Every bike recycled and made roadworthy is one less bike gone to landfill , so it makes sense from an ecological point of view.
								Every bike donated can benefit the health of the person who receives it, so that can't be a bad thing, now can it?</p>
							<p class="card-text">Every shed in Ireland has an old bicycle that's taking up space... WE WANT IT! Our aim is to renovate unwanted bikes for kids/teens/adults.</p>
							<a href="#about" class="btn btn-danger">Read More</a>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card-img-bottom">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>